{%- comment -%}
  _includes/project-phrase.html
{%- endcomment -%}

{% assign pid = include.project_id | default: page.project %}

{% case pid %}
  {% when "spindle-speed-optimization" %}
    based on the
    [spindle speed control for real-time vibration mitigation in milling project](/projects/spindle-speed-optimization/)
  {% when "chatter-detection" %}
    based on the
    [chatter detection and monitoring in milling using vibration measurements project](/projects/chatter-detection/)
  {% when "eccentricity-compensation" %}
    based on the
    [tool eccentricity compensation in milling using machine tool feed drives project](/projects/eccentricity-compensation/)
  {% when "cross-coupling-vibrations" %}
    based on the
    [axis-coupled inertial vibration compensation using machine tool feed drives project](/projects/cross-coupling-vibrations/)
  {% when "inertial-damper-control" %}
    based on the
    [active inertial damper control for vibration mitigation in precision machine tools project](/projects/inertial-damper-control/)
  {% when "tool-eccentricity-compensation" %}
    based on the
    [tool eccentricity compensation in milling using machine tool feed drives project](/projects/tool-eccentricity-compensation/)
{% endcase %}
